@import './config';

body {
    font-size: $body-font-size;
    font-family: $body-font-family;
    color: $white;
    line-height: 1.6;
    @include bg-color($dark-blue-main-bg);
}

.header {
    position: relative;
    z-index: 0;
    @include bg-color($dark-blue-email-intro-bg);
    &-I {
        justify-content: space-between;
        align-items: center;
        @include container(90%);
        padding-top: 3em;
        @include mg-y(3em);
        img {
            height: 2.5em;
        }
        ul {
            gap: 2em;
            a:hover, a:focus {
                color: $white;
                text-decoration: underline;
            }
        }
    }
    &-II {
        @include container(40%);
        flex-direction: column;
        text-align: center;
        img, h1, p, button {
            @include mg-y(1em);
        }
        button {
            padding: 1em 5em;
            align-self: center;
            border-radius: 10em;
            background-color: $blue;
            border: none;
            color: $white;
            @include mg-y(18em);
            cursor: pointer;
        }
        button:hover, button:focus {
            background-color: hsl(198, 60%, 70%);
        }
    }
    &-bg {
        position: absolute;
        bottom: 0em;
        z-index: -1;
        width: 100%;
    }
}

.main {
    &-items {
        @include container(60%);
        text-align: center;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 4em 8em;
        position: relative;
        @include mg-y(10em);
        .item {
            gap: 1em;
            img, h3 {
                @include mg-y(1em);
            }
            h3 {
                font-size: 20px;
            }
        }
    }
}

.production {
    @include container(80%);
    @include mg-y(7em);
    justify-content: center;
    align-items: center;
    gap: 3.5em;
    .img-holder {
        flex-basis: 50%;
        img {
            width: 100%;
        }
    }
    .text-holder {
        flex-basis: 50%;
        h2 {
            font-size: 36px;
            line-height: 1.3;
            @include mg-y(0.35em);
        }
        p {
            @include mg-y(1em);
        }
        .d-flex {
            gap: 0.4em;
            width: max-content;
            border-bottom: 1px solid $cyan;
            padding-bottom: 0.15em;
            a {
                color: $cyan;
                &:hover, &:focus {
                    color: $white;
                }
            }
            img {
                height: 1em;
                align-self: center;
            }
            &:hover, &:focus {
                border-bottom: 1px solid $white;
            }
        }
    }
}

.testimonial {
    @include container(80%);
    grid-template-columns: repeat(3, 1fr);
    gap: 3em;
    position: relative;
    &-bg {
        position: absolute;
        z-index: -1;
        top: -2.5em;
        left: -1em
    }
    .card {
        @include bg-color($dark-blue-testimonial-bg);
        padding: 2em;
        border-radius: 0.25em;
        .content {
            @include mg-y(1em);
        }
        .d-flex {
            align-items: center;
            gap: 1em;
            img {
                border-radius: 10em;
                width: 2em;
                height: 2em;
            }
            .text-holder {
                line-height: 1.25;
            .name {
                font-size: 12px;
                color: $white;
            }
            .title {
                font-size: 10px;
            }
            }
        }
    }
}

.sign-up {
    position: relative;
    top: 15em;
    @include container(60%);
    @include mg-y(5em);
    @include bg-color($dark-blue-email-intro-bg);
    text-align: center;
    padding: 3em;
    h2 {
        font-size: 30px;
        @include mg-y(0.6em);
    }
    p {
        @include mg-y(2em);
    }
    form {
        gap: 2em;
        input, button {
            border-radius: 10em;
            border: none;
        }
        button {
            min-width: 180px;
            @include bg-color($cyan);
            color: $white;
            padding: 1em;
            cursor: pointer;
            &:hover, &:focus {
                background-color: hsl(198, 60%, 70%);
            }
        }
        input {
            width: 100%;
            padding: 1em 2em;
        }
    }
}

footer {
    @include bg-color($dark-blue-footer-bg);
    padding-top: 15em;
    .container {
        @include container(80%);
        a:hover, a:focus {
            color: $white;
            font-weight: 700;
        }
        .logo {
            @include mg-y(2em);
        }
        .grid {
            grid-template-columns: 30% 20% 10% 10% 20%;
            gap: 2em;
            color: hsl(0, 0%, 80%);
            .col-2, .col-3, .col-4 {
                flex-direction: column;
                gap: 1em;
            }
            .col-1 {
                gap: 1em;
                img {
                    height: 1.25em;
                }
            }
            .col-2 {
                gap: 1em;
                .d-flex {
                    gap: 1em;
                    height: 1.25em;
                    align-items: center;
                }
            }
            .col-5 {
                gap: 1em;
                i {
                    border: 1px solid #fff;
                    align-self: flex-start;
                    padding: 0.5em;
                    border-radius: 10em;
                    cursor: pointer;
                }
                i:hover, i:focus {
                    color: $cyan;
                    border: 1px solid $cyan;
                }
                .fa-facebook-f {
                    padding: 0.5em 0.7em;
                }
            }
        }
        .attribution {
            margin-top: 3em;
            padding-bottom: 3em;
            text-align: center;
        }
    }
}

@media (max-width: 900px) {
    .header {
        &-II {
            @include container(80%);
        }
    }
    .main {
        &-items {
            @include container(80%);
            grid-template-columns: 1fr;
            grid-template-rows: repeat(4, 1fr);
            grid-gap: 2em;
            @include mg-y(5em);
        }
    }
    .production {
        flex-direction: column;
        .text-holder {
            h2 {
                font-size: 20px;
                line-height: 1.3;
                @include mg-y(0.35em);
            }
        }
    }
    .testimonial {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        &-bg {
            height: 1em;
            top: -0.9em;
            left: -0.1em;
        }
    }
    .sign-up {
        @include container(80%);
        @include mg-y(5em);
        padding: 3em;
        h2 {
            font-size: 22px;
        }
        form {
            flex-direction: column;
        }
    }
    footer {
        .container {
            .grid {
                grid-template-columns: 1fr;
                gap: 3em;
                .col-5 {
                    gap: 1em;
                    justify-content: center;
                }
            }
        }
    }
}